.n{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  /* background: white; */
  
}

.n ul{
  margin: 0px 5px;
  padding: 0;
}

.n ul li{
  list-style: none;
  display: inline-block;
}

.n ul li a{
  font-family: 'Caveat', cursive;
  text-decoration: none;
  display: block;
  font-size: 40px;
  text-transform: capitalize;
  font-weight: bold;
  color: black;
  padding: 0 10px;
}

.hover:hover{
  color: rgb(145, 144, 144);
}

.ttp{}