.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  background: white;
  
}

.navbar ul{
  margin: 0px 5px;
  padding: 0;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
}

.navbar ul li a{
  font-family: 'Caveat', cursive;
  text-decoration: none;
  display: block;
  font-size: 28px;
  text-transform: capitalize;
  font-weight: bold;
  color: black;
  padding: 0 10px;
}
